@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--font-poppins);
  @apply bg-body text-gray-600 dark:bg-blue dark:text-gray-200;
}

@layer components {
  /* TODO: Writing to make text outlined */
  .light .text-outline {
    color: #fff;
    -webkit-text-fill-color: (theme(colors.white));
    -webkit-text-stroke: 1px theme(colors.primary.500);
  }
  .dark .text-outline {
    color: #000;
    -webkit-text-fill-color: (theme(colors.black));
    -webkit-text-stroke: 0.35px theme(colors.white);
  }
  .h-scroll {
    &::-webkit-scrollbar {
      width: 5px;
    }
    &::-webkit-scrollbar-track {
      background: theme(colors.gray.950);
      border-radius: 10px;
    }
    &::-webkit-scrollbar-thumb {
      background: theme(colors.gray.800);
      border-radius: 10px;
    }
    &::-webkit-scrollbar-thumb:hover {
      background: theme(colors.gray.900);
    }
  }
}
